@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;

    --primary: 38 92% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 38 92% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%;

    --accent: 38 92% 10%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 38 92% 30%;
    --input: 38 92% 30%;
    --ring: 38 92% 50%;

    --radius: 0.5rem;
  }
}


@theme {
  --animate-ticker: ticker 1s ease-in-out infinite;

  @keyframes ticker {

    0%: {
      transform: "translate3d(0, 0, 0)"
    }

    100%: {
      transform: "translate3d(-50%, 0, 0)"
    }
  }
}

.animate-ticker {
  animation: ticker 30s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}